<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cool Project</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="listular">
    <div class="container">
      <div ng-controller="GreetingController">
        <input type="text" ng-model="name" />
        <h3>Nice to meet you, {{ name }}!</h3>
      </div>

      <div ng-controller="CocktailController">
        <h2>Add a Cocktail!</h2>
        <form ng-submit="addCocktail(cocktail)">
          <input type="text" ng-model="cocktail.name" />
          <input type="text" ng-model="cocktail.ingredients"/>
          <textarea ng-model="cocktail.instructions">
          </textarea>
          <button>Add it!</button>
        </form>

        <h2>Cocktails Recipes</h2>
        <ul class="recipes">
          <li>
            <div class="cocktail" data-id="{{ cocktail.id }}">
              <h4>{{ cocktail.name }}</h4>
              <div>{{ cocktail.ingredients }}</div>
              <p>{{ cocktail.instructions }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
